---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Stanisław Zarycki - Backend Developer">
  <div class="index-content framed">
    <h1 id="hello-there">Hello there!</h1>
    <h2>Thanks for stopping by!</h2>
    <p>
      This website is currently under construction. I'm working on it every
      spare moment I get. Please come back soon!
    </p>
  </div>

  <!--<div class="posts">-->
  <!--  {posts.map((post) => <PostCard post={post} />)}-->
  <!--</div>-->
</BaseLayout>
